# pywildcard    # for changecontrol.changespec  # local copy unchanged
# termcolor     # for changecontrol.comparaison # local copy unchanged
# timeparse     # module timeparse for timetracking # local copy unchanged
pygithub        # module github for package githubbot
#               # package githubbot for scribesclasses.engines.github
sphinx==1.5.2   # for onweb
#               # changecontrol for scribesclasses.engines.changespec
# SphinxZone    # module sphinxproblems for scribesclasses.engines.onweb
#               # githubbot for scribesclass.models.{classroom,works}
